<div class="sildeone sildetwo sildethree">
	
		</div>	
		<div class="case-middle">
			<div class="case-middle-one public">
				<h4>行业案例：</h4>
				<ul class="case-middle-text">
					<li class="case-text-one">太平洋咖啡</li>
					<li class="case-text-two">Pacific Coffee于2005年被其士泛亚控股有限公司收购，自此品牌发展<br />
迅速，分店数量不断增加，更扩展至新加坡、澳门、马来西亚及中国内地。</li>
					<li class="case-text-three case-text-laye"><i>便捷支付</i>从线上随时随地获得身边的门店信息、咖啡购买、订单查询、会员管理<br />
到线下咖啡兑换，太平洋咖啡的消费全流程均可在微信公众平台上完成。</li>
					<li class="case-text-four case-text-laye"><i>使用流程</i>扫描特定商品的二维码—进入微信支付完成付款—收到推送凭证到门店兑换。</li>
					<li class="case-text-five case-text-laye"><i>功能介绍</i>基础信息、地理位置、语音接口、自定义菜单、网页授权接口、二维码。</li>
				</ul>
			</div>
			<div class="case-middle-two public">
				<ul class="case-two-text">
					<li class="case-two-one">南方航空</li>
					<li class="case-two-two">中国南方航空股份有限公司(SSE:600029)是一家总部设在广州的中国<br />
国有航空集团企业，旗下的主业中国南方航空公司，常被简称为南航。</li>
					<li class="case-two-three"><i>便捷支付</i>商业闭环，顺畅体验。</li>
					<li class="case-two-three case-two-four"><i>使用流程</i>关注公众号—填写旅客信息和航班—密码与验证码—完成下单</li>
					<li class="case-two-three case-two-five"><i>功能介绍</i>机票预订、航班动态、自助值机、会员服务、优惠信息、二维码。</li>
				</ul>
				
			</div>
			
			<div class="case-middle-three public">
				<ul class="case-middle-text">
					<li class="case-text-one case-three-one">新世界百货</li>
					<li class="case-text-two">新世界百货中国有限公司是一家在香港交易所上市的零售业公司。集团<br />
现时经营的全国性大型网络，包括于中国及香港的28间“新世界”品牌<br />
百货店及九间“巴黎春天”品牌百货店。</li>
					<li class="case-text-three case-text-laye"><i>便捷支付</i>从线上随时随地获得身边的门店信息、咖啡购买、订单查询、会员管理<br />
到线下咖啡兑换，太平洋咖啡的消费全流程均可在微信公众平台上完成。</li>
					<li class="case-text-four case-text-laye"><i>使用流程</i>扫描特定商品的二维码—进入微信支付完成付款—收到推送凭证到门店兑换。</li>
					<li class="case-text-five case-text-laye"><i>功能特点</i>与现有会员卡打通，具备积分查询，充值，消费等功能的微信会员卡。<br />
提供扫描二维码支付</li>
				</ul>
			</div>
		</div>