<div class="sildeone sildetwo sildethree sildefive">
	
		</div>
		<div class="channel">
			<div class="channel-middle" >
				<div class="channel-middle-text" >
					<h4>微付客渠道代理模式</h4>
					<span>微付客致力于为广大商户提供微信营销服务解决方案，<br />
							因发展需要，现诚邀全国各省市代理商建立合作，<br />
							愿与您共同投身于无线互动营销的事业，<br />
							欢迎您的加盟..
					</span>
				</div>
				
				<div class="channel-middle-link clearfix" id="zhuche">
					<div class="channel-middle-blue"><a class="current" href="javascript:void(0)">享受8大支持</a></div>
					<div class="channel-middle-green"><a href="javascript:void(0)">如何成为代理商</a></div>
				</div>
			</div>
			
			
	<div>
			<div class="channelfoot-blue" id="channelfoot-green0">
				<div class="channelfoot-blue-middle">
					<div class="channelfoot-text">
						<dl class="channelfoot-text-one">
							<dt>产品销售培训</dt>
							<dd>专业挖掘APP产品卖点<br />
								深度分享销售业务经验
							</dd>
						</dl>
						<dl class="channelfoot-text-two">
							<dt>产品制作培训</dt>
							<dd>合作代理商能够第一时间<br />
								等到专业的平台操作培训<br />
								详解APP产品制作培训
							</dd>
						</dl>
						<dl class="channelfoot-text-three">
							<dt>销售支持</dt>
							<dd>道有道为合作代理商提供客<br />
								户陪访服务，对于组织会议<br />
								行销的合作伙伴给予讲师支持
							</dd>
						</dl>
						<dl>
							<dt>甩单支持</dt>
							<dd>道有道将主动咨询的客户<br />
								信息，分配给各区域的代<br />
								理商，提供专业的甩单支持
							</dd>
	
						</dl>
					</div>
					
					
					
					<div class="channelfoot-textb">
						<dl class="channelfoot-textb-one">
							<dt>产品销售培训</dt>
							<dd>专业挖掘APP产品卖点<br />
								深度分享销售业务经验
							</dd>
						</dl>
						<dl class="channelfoot-textb-two">
							<dt>产品制作培训</dt>
							<dd>合作代理商能够第一时间<br />
								等到专业的平台操作培训<br />
								详解APP产品制作培训
							</dd>
						</dl>
						<dl class="channelfoot-textb-three">
							<dt>销售支持</dt>
							<dd>道有道为合作代理商提供客<br />
								户陪访服务，对于组织会议<br />
								行销的合作伙伴给予讲师支持
							</dd>
						</dl>
						<dl>
							<dt>甩单支持</dt>
							<dd>道有道将主动咨询的客户<br />
								信息，分配给各区域的代<br />
								理商，提供专业的甩单支持
							</dd>
	
						</dl>
					</div>
				</div>
			</div>
			
			
			
			
			<div id="channelfoot-green1" class="channelfoot-green" style="display: none;">
				<div class="channelfoot-green-body public">
					<div class="channelfoot-green-title">
						<h2 class="channelfoot-green-titlestyle">申请条件：</h2>
						<ul class="channelfoot-green-list">
							<li>1、代理申请条件代理申请条件代理申请条件代<li>
							<li>2、理申请条件代理申请条件代理申请条件代理申请条件代理申请条件代<li>
							<li>3、理申请条件代理申请条件代理申请条件代理申请条件代理申请<li>
							<li>4、条件代理申请条件代理申请条件代理申请条件代理申请条件代理申请条件代理申请条件<li>
						</ul>
						<h2 class="channelfoot-green-titlestyle channelfoot-green-titlestyletwo">受理流程：</h2>
						<div class="channelfoot-green-program">提交合作申请 —> 招商经理对接 —> 合作协议签署 —> 业务技术培训 —> 开展当地业务</div>
	
					</div>
					
					<div class="channelfoot-green-tel">
						<div class="channelfoot-green-telone">详情致电: 021-54668935</div>
						<div class="channelfoot-green-teltwo">在线申请：</div>
					</div>
					
					<form id="form">
			            <ul class="agent_main02_ul">
			                <li>
			                	<em><i>所在地区：</i></em>
			                    <div class="agent_select js_select">
			                    	<input type="hidden" value="" />
			                    	<span class="agent_text">请选择省份</span>
			                    	<ul style="display: none;">
			                    		
			                    	</ul>
			                    </div>
			                    <div class="agent_select js_select">
			                    	<input type="hidden" value="" />
			                    	<span class="agent_text">请选择城市</span>
			                    	<ul style="display: none;">
			                    		
			                    	</ul>
			                    </div>
			                    <span class="agent_spanObj">请选择您要代理的地区</span>
			                </li>
			                <li><em><i>企业名称：</i></em><input type="text" value="" id="company" /><span class="agent_spanObj">请填写您的企业名称</span></li>
			                <li><em><i>姓名：</i></em><input type="text" value="" id="name" /><span class="agent_spanObj">请填写您的真实姓名，请使用中文</span></li>
			                <li><em><i>手机：</i></em><input type="text" value="" id="tel" /><span class="agent_spanObj">请填写您的电话，以便与您联系</span></li>
			                <li><em>邮箱：</em><input type="text" value="" /><span class="agent_spanObj">请填写您的邮箱，以便发资料给您</span></li>
			                <li><em>备注：</em><textarea></textarea></li>
			            </ul>
			            <input class="agent_btn" type="submit" value="提交申请" />
       			 </form>
				</div>
		</div>
	</div>	