<div class="flash">
		<div class="flash-middle">
			<div class="visual public">
				<ul>
					<li class="slideone" ></li>
					<li class="slidetwo" style="display: none" ></li>
					<li class="slidthree"style="display: none" ></li>
				</ul>
				
								
				<div class="slideone-box">
	
						<img class="slideone1" src="images/slideone1.jpg" />
						<img class="slideone2"  src="images/slideone2.jpg"/>
						<img class="slideone3" src="images/slideone3.png" usemap="#slideone3-img" />
						<map name="slideone3-img" id="slideone3-img">
							<area shape="rect" coords="11,8,67,74" href="##">
							<area shape="rect" coords="128,8,188,74" href="##">
							<area shape="rect" coords="247,8,311,74" href="##">
							<area shape="rect" coords="375,8,432,74" href="##">
							<area shape="rect" coords="11,83,67,155" href="##">
							<area shape="rect" coords="128,83,188,155" href="##">
							<area shape="rect" coords="247,83,311,155" href="##">
							<area shape="rect" coords="375,83,432,155" href="##">
						</map>
						<img class="slideone4" src="images/iphone1.png" />	
						
		<!--
			作者：shenweisheng126@126.com
			时间：2016-06-23
			描述：slidetwo1(left:166px;)slidetwo2(left:166px;)slidetwo3(left:525px;)
		-->			
						<img class="slidetwo1" src="images/slidetwo1.png" />
						<img class="slidetwo2"  src="images/slidetwo2.png"/>
						<img class="slidetwo3"  src="images/iphone2.png"/>
		<!--
			作者：shenweisheng126@126.com
			时间：2016-06-23
			描述：slidethree1(left:166px;),slidethree2(left:166px;),slidethree3(left:525px;)
		-->			
					
						<img class="slidethree1" src="images/slidethree1.png" />
						<img class="slidethree2"  src="images/slidethree2.png"/>
						<img class="slidethree3"  src="images/slidethree3.png"/>
					
				
			</div>	
		</div>
	</div>	
		<div class="flashBT public">
			<div class="flash-bottom">
				<a class="colorA" href="javascript:void(0)">1</a>
				<a href="javascript:void(0)">2</a>
				<a href="javascript:void(0)">3</a>
			</div>
		</div>
		
	</div>	
		<div class="merchant">
			<div class="merchant-middle public" >
				<span>他们走在微信支付的前沿...</span>
				<div class="merchant-middle-img"  id="middle-img">
					<ul class="merchant-middle-list" >
						<li><a href="##"><img src="images/merchant-one.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-two.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-three.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-four.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-five.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-six.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-seven.jpg" /></a></li>
						<li><a href="##"><img src="images/merchant-eght.jpg" /></a></li>
					</ul>
					<ul class="merchant-middle-list">
						<li><a href="##"><img src="images/1.jpg" /></a></li>
						<li><a href="##"><img src="images/2.jpg" /></a></li>
						<li><a href="##"><img src="images/3.jpg" /></a></li>
						<li><a href="##"><img src="images/4.jpg" /></a></li>
						<li><a href="##"><img src="images/5.jpg" /></a></li>
						<li><a href="##"><img src="images/6.jpg" /></a></li>
						<li><a href="##"><img src="images/7.jpg" /></a></li>
						<li><a href="##"><img src="images/8.jpg" /></a></li>
					</ul>
				</div>
				<div class="merchant-bottom">
					<div class="merchant-btn" id="merchant-btn">
						<a class="merchant-btn-one btncur" href="javascript:void(0);">&lt;</a>
						<a class="merchant-btn-two" href="javascript:void(0);">&gt;</a>
					</div>
				</div>
			</div>
		</div>