<div class="sildeone sildetwo">
	
</div>	
		<div class="solution-middle">
			<div class="solution-middle-box public">
				<h4>传统”微信营销的弊端:</h4>
				<ul class="solution-middle-one">
					<li class="solution-text-one"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-two"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-three"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-four"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
				</ul>
				
				
				<h4>微付客解决方案优势:</h4>
				<ul class="solution-middle-one solution-middle-two">
					<li class="solution-text-one"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-two"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-three"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
	<li class="solution-text-four"><b>“朋友圈”传播营销</b>利用个人微信号进行商品、品牌、服
务<br />&nbsp;&nbsp;&nbsp;&nbsp;的推广，即通过朋友圈的信息<br />
<i>转发来进行推广。</i></li>
				</ul>
			</div>
		</div>